body {
  font-family: 'Muli', sans-serif;
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
}

.red {
  background-color: #dc544b;
}

nav {
  border: 0 !important;
  border-radius: 0 !important;
}

nav .navbar {
  margin-left: none;
  margin-right: none;
  border-bottom: none;
  border: 0 !important;
}

nav a {
  color: #fff;
  text-align: center;
}

nav a:hover {
  background-color: #fff !important;
  color: #dc544b;
}

nav a:active {
  background-color: #fff !important;
  color: #dc544b;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
}

.navbar-brand:visited{
  color: #fff;
}

.navbar-brand:hover{
  color: #fff;
  background-color: #dc544b !important;
}

.fa-bars {
  color: #fff;
}

.footer {
  width: 90%;
  position: fixed;
  bottom: 0;
  padding: 10px 4px 0 4px;
}

.text-muted {
  color: #333;
  font-size: 10px;
}

.background {
 background-image: url(http://placehold.it/900x200);
background-position: center;
background-size: 100%;
}

.placehold {
  color: red;
}

.margin {
  margin: 0 20px 20px 20px ;
}

 .content {
   margin-left: 10%;
   margin-right: 10%;
 }

 .careNav {
   list-style:none; padding:0 20px 0 0;
 }

 .careNav li a {
   color: #dc544b;
 }

 @media (max-width: 800px) {
.careNav {
  display: none;
}
   }
